In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import datetime

In [4]:
rootPath = "DailyData"
dirlist = []
for fd in os.listdir(rootPath): 
    if os.path.isdir(os.path.join(rootPath,fd)): # not .zip or .DS_Store
        dirlist.append(fd) # 201301
dirlist.sort(key= lambda x:int(x))  #sort by date for MacOS

allCsv = pd.DataFrame(columns=['date','PM2.5', 'PM10', 'SO2', 'NO2',
           'CO', 'O3', 'U(m/s)', 'V(m/s)', 'TEMP(K)',
           'RH(%)', 'PSFC(Pa)','lat','lon'])
for ds in dirlist:
#     print(ds) # 201301 dir
    files = os.listdir(os.path.join(rootPath,ds)) # CN-Reanalysis-daily-2013010100.csv
    files.sort(key= lambda x:int(x[25:28]))  #sort by date for MacOS
  
    for csv in files: 
#         print(csv) # CN-Reanalysis-daily-2013010100.csv
        time = csv.split("-")[-1].split(".")[0]
        date = datetime.date(int(time[:4]), int(time[4:6]), int(time[6:8]))
        print(date)

        csv_data = pd.read_csv(os.path.join(rootPath,ds,csv))
        csv_data = csv_data.drop(columns=[" "])
        csv_data.columns = ['PM2.5', 'PM10', 'SO2', 'NO2',
           'CO', 'O3', 'U(m/s)', 'V(m/s)', 'TEMP(K)',
           'RH(%)', 'PSFC(Pa)','lat','lon']
        csv_data['date'] = date
#         allCsv = allCsv.append(csv_data.loc[0::210],ignore_index=True)
        allCsv = allCsv.append(csv_data.loc[:],ignore_index=True)
    
allCsv.to_csv('Points202.csv',  encoding='utf_8_sig', index=False)

2013-01-01
2013-01-02
2013-01-03
2013-01-04
2013-01-05
2013-01-06
2013-01-07
2013-01-08
2013-01-09
2013-01-10
2013-01-11
2013-01-12
2013-01-13
2013-01-14
2013-01-15
2013-01-16
2013-01-17
2013-01-18
2013-01-19
2013-01-20
2013-01-21
2013-01-22
2013-01-23
2013-01-24
2013-01-25
2013-01-26
2013-01-27
2013-01-28
2013-01-29
2013-01-30
2013-01-31
2013-02-01
2013-02-02
2013-02-03
2013-02-04
2013-02-05
2013-02-06
2013-02-07
2013-02-08
2013-02-09
2013-02-10
2013-02-11
2013-02-12
2013-02-13
2013-02-14
2013-02-15
2013-02-16
2013-02-17
2013-02-18
2013-02-19
2013-02-20
2013-02-21
2013-02-22
2013-02-23
2013-02-24
2013-02-25
2013-02-26
2013-02-27
2013-02-28
2013-03-01
2013-03-02
2013-03-03
2013-03-04
2013-03-05
2013-03-06
2013-03-07
2013-03-08
2013-03-09
2013-03-10
2013-03-11
2013-03-12
2013-03-13
2013-03-14
2013-03-15
2013-03-16
2013-03-17
2013-03-18
2013-03-19
2013-03-20
2013-03-21
2013-03-22
2013-03-23
2013-03-24
2013-03-25
2013-03-26
2013-03-27
2013-03-28
2013-03-29
2013-03-30
2013-03-31
2013-04-01
2013-04-02
2013-04-03
2013-04-04
2013-04-05
2013-04-06
2013-04-07
2013-04-08
2013-04-09
2013-04-10
2013-04-11
2013-04-12
2013-04-13
2013-04-14
2013-04-15
2013-04-16
2013-04-17
2013-04-18
2013-04-19
2013-04-20
2013-04-21
2013-04-22
2013-04-23
2013-04-24
2013-04-25
2013-04-26
2013-04-27
2013-04-28
2013-04-29
2013-04-30
2013-05-01
2013-05-02
2013-05-03
2013-05-04
2013-05-05
2013-05-06
2013-05-07
2013-05-08
2013-05-09
2013-05-10
2013-05-11
2013-05-12
2013-05-13
2013-05-14
2013-05-15
2013-05-16
2013-05-17
2013-05-18
2013-05-19
2013-05-20
2013-05-21
2013-05-22
2013-05-23
2013-05-24
2013-05-25
2013-05-26
2013-05-27
2013-05-28
2013-05-29
2013-05-30
2013-05-31
2013-06-01
2013-06-02
2013-06-03
2013-06-04

KeyboardInterrupt:

In [4]:
allCsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15294138 entries, 0 to 15294137
Data columns (total 14 columns):
 #   Column    Dtype
---  ------    -----
 0   date      object
 1   PM2.5     float64
 2   PM10      float64
 3   SO2       float64
 4   NO2       float64
 5   CO        float64
 6   O3        float64
 7   U(m/s)    float64
 8   V(m/s)    float64
 9   TEMP(K)   float64
 10  RH(%)     float64
 11  PSFC(Pa)  float64
 12  lat       float64
 13  lon       float64
dtypes: float64(13), object(1)
memory usage: 1.6+ GB

In [23]:
allCsv.head()

,date,PM2.5,PM10,SO2,NO2,CO,O3,U(m/s),V(m/s),TEMP(K),RH(%),PSFC(Pa),lat,lon
0,2013-01-01,20.21,23.56,8.65,4.58,0.29,63.44,-2.48,-2.31,291.54,68.14,100350.11,18.34,109.25
1,2013-01-01,55.66,64.82,15.21,12.42,0.56,45.94,-2.03,-4.82,284.55,36.04,101886.55,21.54,109.24
2,2013-01-01,27.31,29.39,11.08,1.72,0.29,60.77,-0.05,2.88,284.94,96.74,87145.86,22.18,100.01
3,2013-01-01,24.70,26.91,8.83,2.38,0.28,68.59,-1.07,0.84,281.55,87.55,91663.42,22.67,103.04
4,2013-01-01,32.98,52.43,17.07,35.32,0.86,28.79,-3.32,-3.53,281.28,40.60,99426.40,22.74,112.06

In [24]:
allCsv.columns

Index(['date', 'PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3', 'U(m/s)', 'V(m/s)',
       'TEMP(K)', 'RH(%)', 'PSFC(Pa)', 'lat', 'lon'],
      dtype='object')

In [25]:
allCsv.to_csv('P202.csv',  encoding='utf_8', index=False)

In [3]:
data = pd.read_csv('P202.csv')

In [4]:
data['WindSpeed(m/s)'] = data.apply(lambda col: np.sqrt(col["U(m/s)"]**2+col["V(m/s)"]**2), axis=1)

In [19]:
data['date'] = pd.to_datetime(data['date'])

In [20]:
data.describe()

,PM2.5,PM10,SO2,NO2,CO,O3,U(m/s),V(m/s),TEMP(K),RH(%),PSFC(Pa),lat,lon,WindSpeed(m/s)
count,442582.000000,442582.000000,442582.000000,442582.000000,442582.000000,442582.000000,442582.000000,442582.000000,442582.000000,442582.000000,442582.000000,442582.000000,442582.00000,442582.000000
mean,27.500382,37.948853,8.481865,9.240776,0.455891,67.974629,1.138157,-0.251651,280.913792,56.032773,83981.018013,35.953020,104.50396,4.736789
std,33.953624,45.018692,12.481103,13.094154,0.611477,22.396959,4.176176,3.495265,13.282473,21.207525,15518.026418,7.283753,13.68784,2.928965
min,0.010000,0.020000,0.000000,0.030000,0.060000,0.000000,-26.610000,-19.900000,234.630000,4.280000,48752.000000,18.340000,76.82000,0.000000
25%,5.890000,6.740000,0.740000,0.590000,0.140000,53.300000,-1.650000,-2.400000,271.240000,39.090000,72900.227500,30.360000,93.31000,2.494354
50%,17.850000,23.940000,3.790000,3.160000,0.230000,67.810000,0.610000,-0.320000,281.690000,56.460000,88693.980000,35.960000,105.46500,4.250224
75%,37.150000,53.750000,12.040000,13.290000,0.630000,81.540000,3.700000,1.770000,291.990000,73.410000,97069.267500,41.320000,115.19000,6.420662
max,1488.170000,1488.660000,352.560000,185.540000,52.120000,239.700000,23.250000,18.590000,309.760000,100.000000,104487.320000,52.930000,133.21000,28.937329

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442582 entries, 0 to 442581
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            442582 non-null  datetime64[ns]
 1   PM2.5           442582 non-null  float64
 2   PM10            442582 non-null  float64
 3   SO2             442582 non-null  float64
 4   NO2             442582 non-null  float64
 5   CO              442582 non-null  float64
 6   O3              442582 non-null  float64
 7   U(m/s)          442582 non-null  float64
 8   V(m/s)          442582 non-null  float64
 9   TEMP(K)         442582 non-null  float64
 10  RH(%)           442582 non-null  float64
 11  PSFC(Pa)        442582 non-null  float64
 12  lat             442582 non-null  float64
 13  lon             442582 non-null  float64
 14  WindSpeed(m/s)  442582 non-null  float64
dtypes: datetime64[ns](1), float64(14)
memory usage: 50.6 MB

In [6]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
# 初始化数据库连接，使用pymysql模块
engine = create_engine('mysql+pymysql://root:12345678@localhost:3306/chinavis')

ValueError: invalid literal for int() with base 10: '3306:chinavis'

In [9]:
engine

Engine(mysql+pymysql://root:***@localhost:3306/chinavis)

In [22]:
# 将新建的DataFrame储存为MySQL中的数据表，不储存index列
data.to_sql('p202', engine, index= False)

'INSERT INTO `p202` (`date`,`PM2.5`,`PM10`,`SO2`,`NO2`,`CO`,`O3`,`U(m/s)`,`V(m/s)`,`TEMP(K)`,`RH(%)`,`PSFC(Pa)`,`lat`,`lon`) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('mysql+pymysql://root:12345678@localhost:3306/chinavis')

In [3]:
dailyMean = pd.read_csv('MaxMinDaily.csv')

In [18]:
dailyMean['date'] = pd.to_datetime(dailyMean['date'])

In [4]:
dailyMean

,date,PM2.5,PM10,SO2,NO2,CO,O3,U,V,TEMP,RH,PSFC,WindSpeed
0,2013/1/1,0.181424,0.195682,0.438627,0.291980,0.385183,0.194074,0.772312,0.475247,0.136796,0.401018,0.453882,0.610249
1,2013/1/2,0.188967,0.169587,0.385063,0.265195,0.386317,0.152345,0.662297,0.441871,0.129472,0.524996,0.677580,0.507355
2,2013/1/3,0.160408,0.120685,0.461531,0.236442,0.362879,0.133813,0.564888,0.508820,0.086133,0.642872,0.784368,0.365465
3,2013/1/4,0.270867,0.241426,0.646429,0.355489,0.448857,0.123950,0.772566,0.675682,0.108370,0.613366,0.582682,0.575449
4,2013/1/5,0.357193,0.333998,0.722028,0.400227,0.509209,0.122460,0.791364,0.566022,0.121165,0.575636,0.503092,0.604193
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2186,2018/12/27,0.050524,0.093796,0.086802,0.230480,0.271718,0.117562,0.457642,0.374991,0.157468,0.696607,0.682359,0.384606
2187,2018/12/28,0.018818,0.055440,0.106281,0.187688,0.238371,0.129851,0.399654,0.313869,0.103505,0.666311,0.827549,0.424773
2188,2018/12/29,0.052237,0.086583,0.157938,0.285356,0.271768,0.112768,0.526097,0.314354,0.105771,0.528370,0.891633,0.492390
2189,2018/12/30,0.158903,0.165849,0.321756,0.366514,0.286751,0.075294,0.526650,0.412867,0.140424,0.531195,0.934164,0.398703
2190,2018/12/31,0.163719,0.189970,0.208409,0.415302,0.364207,0.056450,0.552002,0.476916,0.162009,0.674629,0.963221,0.371916

In [7]:
# 将新建的DataFrame储存为MySQL中的数据表，不储存index列
dailyMean.to_sql('dailyMeanAll', engine, index= False)

c:\users\colin\appdata\local\programs\python\python38\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'dailyMeanAll' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [8]:
dailyMean.columns

Index(['date', 'PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3', 'U', 'V', 'TEMP',
       'RH', 'PSFC', 'WindSpeed'],
      dtype='object')

In [3]:
import os

In [29]:
monthlyMeanAll = pd.DataFrame(columns=['date', 'PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3', 'U', 'V', 'TEMP',
       'RH', 'PSFC', 'WindSpeed'])

In [30]:
rootpath = 'yearlyData'
for f in os.listdir(rootpath):
    c = pd.read_csv(os.path.join(rootpath,f))
    c.columns = ['PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3', 'U', 'V', 'TEMP',
       'RH', 'PSFC', 'WindSpeed']
    c['date'] = [pd.to_datetime(f[:-4]+str(101+index)[1:]+"01") for index in range(12)]
    monthlyMeanAll = monthlyMeanAll.append(c,ignore_index=True)

In [31]:
monthlyMeanAll

,date,PM2.5,PM10,SO2,NO2,CO,O3,U,V,TEMP,RH,PSFC,WindSpeed
0,2013-01-01,42.261410,51.744612,17.542037,12.305704,0.633386,53.853041,2.404250,-0.274625,265.325376,57.476476,83563.913914,2.563857
1,2013-02-01,31.635389,38.247753,12.219398,8.391227,0.477614,58.654784,2.380374,0.033552,268.516764,59.419991,83509.252719,2.511463
2,2013-03-01,28.217750,38.784811,10.145497,7.960234,0.376686,69.265678,1.786932,-0.341278,275.730271,50.259979,83316.141957,2.027033
3,2013-04-01,29.791261,37.633518,7.802578,6.691401,0.311874,77.110643,1.318099,-0.666125,280.226386,50.598800,83113.264452,1.836164
4,2013-05-01,32.708600,39.636780,7.815722,6.252861,0.297542,81.337494,0.860989,0.210787,286.700768,53.219797,82961.063968,1.284398
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2018-08-01,22.736036,31.155478,4.928447,5.515783,0.336075,77.937182,-1.053876,-0.249483,292.419266,64.473775,82911.564593,1.274311
68,2018-09-01,23.289896,31.443191,5.065032,6.509385,0.320164,70.802294,0.246887,-0.270433,287.086979,59.441749,83371.132878,0.841827
69,2018-10-01,22.091522,32.220500,5.907526,9.142798,0.345765,67.736076,0.974917,-0.558339,280.414678,52.006852,83647.396842,1.502586
70,2018-11-01,21.506437,33.911217,6.570804,11.385046,0.422776,56.692931,2.333660,-0.343240,274.074216,56.302211,83678.986577,2.437768
71,2018-12-01,23.262554,36.005142,7.751734,11.656070,0.461424,51.071945,2.532875,-0.706722,267.552034,56.035810,83763.318614,2.856176

In [32]:
monthlyMeanAll.to_sql('monthlyMeanAll', engine, index= False)

c:\users\colin\appdata\local\programs\python\python38\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'monthlyMeanAll' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [34]:
monthlyMeanAll_norm = (monthlyMeanAll-monthlyMeanAll.min())/(monthlyMeanAll.max()-monthlyMeanAll.min())

In [35]:
monthlyMeanAll_norm

,date,PM2.5,PM10,SO2,NO2,CO,O3,U,V,TEMP,RH,PSFC,WindSpeed
0,0.000000,1.0,1.0,0.985969,0.682116,0.826502,0.104069,0.862338,0.395518,0.012191,0.580437,0.771584,0.729049
1,0.014352,0.519879,0.439898,0.58433,0.296327,0.495175,0.220649,0.856384,0.525301,0.123718,0.696972,0.724344,0.708446
2,0.027315,0.365458,0.462186,0.427836,0.253851,0.280504,0.478269,0.7084,0.367448,0.375801,0.147732,0.55745,0.517952
3,0.041667,0.436554,0.414408,0.251042,0.128802,0.142649,0.668735,0.591489,0.230644,0.532922,0.168047,0.382115,0.442896
4,0.055556,0.56837,0.497541,0.252034,0.085582,0.112165,0.771358,0.477502,0.599941,0.759176,0.325204,0.250577,0.225923
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,0.943519,0.117774,0.145578,0.034163,0.01294,0.194123,0.688802,0.0,0.406106,0.959015,1.0,0.207798,0.221957
68,0.957870,0.1428,0.157518,0.04447,0.110864,0.160282,0.515576,0.324366,0.397283,0.772673,0.698276,0.604975,0.051889
69,0.971759,0.088653,0.189775,0.108043,0.370398,0.214734,0.441132,0.505911,0.276037,0.539502,0.252475,0.843733,0.311722
70,0.986111,0.062217,0.259938,0.158094,0.591381,0.378536,0.173018,0.844735,0.366622,0.317928,0.510028,0.871035,0.679466
71,1.000000,0.141564,0.346833,0.247205,0.618091,0.46074,0.036547,0.894412,0.213547,0.090004,0.494054,0.943918,0.843998

In [36]:
monthlyMeanAll_norm['date'] = monthlyMeanAll['date']

In [37]:
monthlyMeanAll_norm

,date,PM2.5,PM10,SO2,NO2,CO,O3,U,V,TEMP,RH,PSFC,WindSpeed
0,2013-01-01,1.0,1.0,0.985969,0.682116,0.826502,0.104069,0.862338,0.395518,0.012191,0.580437,0.771584,0.729049
1,2013-02-01,0.519879,0.439898,0.58433,0.296327,0.495175,0.220649,0.856384,0.525301,0.123718,0.696972,0.724344,0.708446
2,2013-03-01,0.365458,0.462186,0.427836,0.253851,0.280504,0.478269,0.7084,0.367448,0.375801,0.147732,0.55745,0.517952
3,2013-04-01,0.436554,0.414408,0.251042,0.128802,0.142649,0.668735,0.591489,0.230644,0.532922,0.168047,0.382115,0.442896
4,2013-05-01,0.56837,0.497541,0.252034,0.085582,0.112165,0.771358,0.477502,0.599941,0.759176,0.325204,0.250577,0.225923
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2018-08-01,0.117774,0.145578,0.034163,0.01294,0.194123,0.688802,0.0,0.406106,0.959015,1.0,0.207798,0.221957
68,2018-09-01,0.1428,0.157518,0.04447,0.110864,0.160282,0.515576,0.324366,0.397283,0.772673,0.698276,0.604975,0.051889
69,2018-10-01,0.088653,0.189775,0.108043,0.370398,0.214734,0.441132,0.505911,0.276037,0.539502,0.252475,0.843733,0.311722
70,2018-11-01,0.062217,0.259938,0.158094,0.591381,0.378536,0.173018,0.844735,0.366622,0.317928,0.510028,0.871035,0.679466
71,2018-12-01,0.141564,0.346833,0.247205,0.618091,0.46074,0.036547,0.894412,0.213547,0.090004,0.494054,0.943918,0.843998

In [38]:
monthlyMeanAll_norm.to_sql('monthly_Mean_All_norm', engine, index= False)

c:\users\colin\appdata\local\programs\python\python38\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'monthly_Mean_All_norm' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)